-# #message_id.message
-#   .upper-info
-#     %p.upper-info__user 
-#       = link_to current_user.name 
-#     %p.upper-info__date 
-#       = message.created_at.strftime("%Y/%m/%d %H:%M")  
-#   %p.message_text 
