.user-name {
  color: white;
  float: left;
  width: calc(100% - 30px);
  
  a{
    font-weight: bold;
    font-size: 16px;
    color: white;
  }
}

.user-menu{
  color: white;
  display: flex;
  font-weight: 700px;
  float: right;
  
  .edit-user{
   color: white;
   display: list-item;
   font-weight: 700px;
   float: left;
  }

  li {
    color: white;
    display: list-item;
    font-weight: 700px;
    float: left;
    margin-left: 5px;

    i {
      color: white;
    }
  }
}