.bottom-content {
  background-color: lightgray;
  box-sizing: border-box;
  display: block;
  height: 90px;
  width: 100%;
  position: relative;
  padding: 20px 40px;

  &__form {
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: calc(100% - 100px);
    left: 40px;
    display: flex;
    height: 50px;
    
  


    // &__left {
    //   box-sizing: border-box;
    //   height: 50px;
    //   width: calc(100% - 150px);
    //   float: left;
    //   left: 0px;
    //   background-color: white;
    //   position: relative;
      
    input{
      width: calc(100% - 115px);
      padding: 10px;
    }

      .form__mask{
        position: absolute;
        width: 3%;
        line-height: 50px;
        right: 100px;
        font-size: 20px;
      

        label{
          position: absolute;
          font-size: 20px;

          i{
            line-height: 50px;
            font-size: 20px;
          }
        }

      .hidden{
        display: none;
      }

      

    }
  }

  .message-box__right {
    margin-left: 15px;
    box-sizing: border-box;
    position: relative;
    float: right;

    input{
      left: 0px;
      right: 40px;
      padding: 15px 30px;
      background-color: #38aefd;
      color: white;
      text-align: center;
    }
  }
}
 




